body {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
.ant-layout {
  min-height: 100vb;
  /* position: relative; */
}

.ant-layout-sider {
  flex: 0 0 15% !important;
  max-width: 15% !important;
  min-width: 15% !important;
  width: 15% !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.logo {
  background-color: #ffd333;
  height: 64px;
  margin: 0;
}
.sm-logo {
  display: none;
  transition: 0.3s;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header img {
  width: 50px;
  height: 50px;
}
.ant-layout-header .badge {
  top: 15px;
  right: 15px;
}
main {
  height: 100vh;
  overflow-y: scroll;
  background-color: transparent !important;
}

.links p {
  /* font-size: 12px; */
  line-height: 20px !important;
  /* top: 0; */
}
.links h4 {
  /* font-size: 12px; */
  font-size: 17px !important;
  line-height: 20px !important;
  /* top: 0; */
}

.login:hover {
  box-shadow: 0 0 20px gray;
}
/* .fix-sider {
  overflow-y: scroll;
  position: fixed !important;
  height: 100vb;
} */

/* DashBoard page  */
.dashboard-header > div > div > h4,
.dashboard-header .dots {
  color: gray !important;
  font-size: 20px !important;
}
.dashboard-header .dots {
  cursor: pointer;
}
.dashboard-header .dots:active {
  color: white !important;
  /* padding: 20px; */
  background-color: gray;
  border-radius: 3px;
}
.dashboard-time-export select:hover {
  box-shadow: 0 0 20px gray;
}
button:active {
  color: white !important;
  background-color: grey !important;
}
.dashboard-header .links-compare-year {
  color: gray !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.dashboard-header .links-compare-percent-rise {
  color: green !important;
}
.dashboard-header .links-compare-percent-fall {
  color: red !important;
}
.dashboard-header > div:hover {
  box-shadow: 0 0 20px grey;
}
.income {
  background-color: white;
  padding: 30px;
  height: auto;
}

.income:hover {
  box-shadow: 0 0 20px gray;
}

.table-users:hover {
  box-shadow: 0 0 20px gray;
}
/* DashBoard Page End here */
