body {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
.ant-layout {
  min-height: 100vb;
  /* resize: horizontal;
  overflow: auto; */
}
/* .ant-layout-sider {
  max-width: 500px;
  flex: none;
}
.ant-layout-content,
.ant-layout-header,
.ant-layout-sider {
  min-height: 100vb;
  resize: horizontal;
  overflow: auto;
  flex: none;
} */

.login:hover {
  box-shadow: 0 0 30px gray;
}
/* .slider {
  width: 5px;
  height: 100vb;
  background-color: rgb(155, 155, 137);
  cursor: col-resize;
} */
